@using Pronia.ViewModels.TagViewModels
@model TagGetVM

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            <h4>@Model.Name Details</h4>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <td>@Model.Name</td>
                        </tr>
                        <tr>
                            <th>CreatedDate</th>
                            <td>@Model.CreatedDate</td>
                        </tr>
                        <tr>
                            <th>UpdatedDate</th>
                            <td>@Model.UpdatedDate</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="card-footer text-end">
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>